{% extends '_partialViews/_base.html' %}
{% load static %}
{% block content %}

<style>
  #courses{
    color:#ffff00;
      pointer-events: none;
  }
</style>

  <!-- ================ start banner Area ================= -->
  <section class="banner-area">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-12 banner-right">
            <h1 class="text-white">
              Courses
            </h1>
            <div class="link-nav">
              <span class="box">
                <a href="index.html">Home </a>
                <i class="lnr lnr-arrow-right"></i>
                <a href="courses.html">Courses</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Popular Course Area ================= -->
  <section class="popular-course-area section-gap">
    <div class="container-fluid">
      <div class="row justify-content-center section-title">
        <div class="col-lg-12">
          <h2>
            Our Courses <br />
          </h2>
          <p>
            All the courses are Available here at no cost for Everyone without any limits.
        </div>
      </div>
      <div class="owl-carousel popuar-course-carusel">
        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p1.jpg' %}" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">CBSE Course</p>
           
            </div>
            <a href="course-details">
              <h4>Class 12</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p2.jpg' %}" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">CBSE Course</p>
            </div>
            <a href="course-details">
              <h4>Class 11</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p3.jpg' %}" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">CBSE Course</p>
            </div>
            <a href="course-details">
              <h4>Class 10</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p3.jpg' %}" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">CBSE Course</p>
            </div>
            <a href="course-details">
              <h4>Class 9</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="course-details"><i class="fa fa-star"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

       
      </div>
    </div>
  </section>
  
  <a href="">
  <div class="col-lg-12 text-center">
    <button class="btn text-uppercase new_btn">UpComing courses</button>
    </div>
  </a>

  <!-- ================ End Popular Course Area ================= -->

  <!-- ================ Start Registration Area ================= -->
  
  <!-- ================ End Registration Area ================= -->

  <!--how to access course-->
  <section class="about-area section-gap">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-6 about-left"> 
          <h1>
            
            How to Access Our Courses <br>
           
          </h1>

          <p style="font-size: 20px;"><br>
            1. There is a simple roadmap from which you can can easily get the access to our courses without any problem.
          </p>
          <p style="font-size: 20px;">
           2. You have to just say that steps mentioned in chart as the command to the bot.
          </p>
          
        </div>

        <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
          <img style="height: 370px; width: 480px;" class="img-fluid" src="/static/img/cource access.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================- End About Area ================= -->
{% endblock content %}